@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 50px;
}

body {
font-family: 'Raleway' , sans-serif;
}

#main {
  background: rgb(252, 250, 245);
  text-align: center;
  justify-content: space-evenly;
}

img {
  max-width: 100%;
}

#img-div {
  text-align: center;
}

#fig {
  background-color: rgb(249, 236, 212);
padding-top: 30px;
  padding-bottom: 30px;
}

main {
    background-color: rgb(252, 250, 245);
    padding-top: 40px;
    padding-left: 300px;
    padding-right: 300px;
}

h2 {
  display: block;
  padding-bottom: 20px;
}

footer {
  background-color: wheat;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}